In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
location = []
company_name = []
intern_role = []
intern_dur = []
stipend = []

base_url = "https://internshala.com/internships/software%20development-internship/page-"

for page in range(1,9):
    #print(base_url+str(page))
    r = requests.get(base_url+str(page))
    c = r.content    
    soup = BeautifulSoup(c,'html.parser')
    all = soup.find_all('div', {'class':'internship_meta'})
    for i in range(len(all)):
        intern_role.append(all[i].find_all('a',{'class':'view_detail_button'})[0].text)
    for i in range(len(all)):
        location.append(all[i].find_all('a',{'class':'location_link view_detail_button'})[0].text)
    for i in range(len(all)):
        x = all[i].find_all('div',{'class':'item_body'})[1].text
        x = x.strip('\n')
        x = x.strip(' ')
        intern_dur.append(x)
    for i in range(len(all)):
        stipend.append(all[i].find_all('span',{'class':'stipend'})[0].text)
    for i in range(len(all)):
        y = all[i].find_all('a',class_= 'link_display_like_text view_detail_button')[0].text
        y = y.strip('\n')
        y = y.strip(' ')
        company_name.append(y)

In [4]:
dict = {'Intern_Role':intern_role,'Company_Name':company_name,'Location':location,'Duration':intern_dur,'Stipend':stipend}
df = pd.DataFrame(dict)
df

,Intern_Role,Company_Name,Location,Duration,Stipend
0,Software Development,UpGrad (UpGrad Education Private Limited),Bangalore,3 Months,10000 /month
1,Machine Learning & Model Building (OCR Tool),IIT Bombay,Work From Home,6 Months,1000 /month
2,Unreal Development,HEXR Factory,Chennai,3 Months,12000 /month
3,Web Development,ParallelDots Technology Private Limited,Work From Home,3 Months,10000 /month
4,Robotics Content Development,Evobi Automation Private Limited (Bibox Labs),Bangalore,3 Months,10000-20000 /month
...,...,...,...,...,...
292,Robotics Development,Kamdhenu Robotics,Work From Home,2 Months,10000 /month
293,Computer Vision & AI (Robotics),Kamdhenu Robotics,Work From Home,1 Month,5000 /month
294,Software Development,Pplwork,Work From Home,6 Months,12000 /month
295,Academic Research (Computer Science),Max Planck Institute,Work From Home,3 Months,Not provided
296,Computer Science,Aryabhatta Research Institute Of Observational...,Nainital,5 Months,10000 /month

In [5]:
df.to_csv("SD_internships_internshaala.csv")